.container {
  padding-inline-start: var(--padding-base);
  padding-inline-end: var(--padding-base);
  margin-block-end: calc(var(--padding-base) * 2);
}

.publishedAt {
  color: #999;
  font-size: small;
}

.title {
  font-weight: bold;
  font-size: large;
  border-inline-start: 10px solid lightgreen;
  padding-inline-start: var(--padding-base);
  margin-block-end: var(--padding-base);
}

.description {
  font-size: small;
}